@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

.cream{
 background-color: #FFFFFF !important 
}
.hover-black-text:hover{
  color: #000000 !important;
}
.general-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background-color: #FFFFFF;

}
.ui.positive.button{
    background-color: #62cd62 !important;
}
.ui.secondary.button{
  background-color: #30aae7 !important;
}

/* Nav */
.nav-container {

    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    z-index: 5;
    background: #FFFFFF;
    padding: 0;
}

.nav-menu {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
    margin: 0;
}

.nav-menu a {
    color: #040222;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-img {
    height: 50px;
}

.nav-connect {
    background: linear-gradient(to right, green, #00FF00);
    border: 1px solid green;
    margin-right: 1rem;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease;
    line-height: 1;
    font-weight: 500;
    font-size: 14px;
    color: white;
    height: 45px;
}

.nav-connect:hover {
    transform: scale(1.02);
}

/* index */

.myheader {
    background-image:linear-gradient(
        to bottom,
        rgba(255, 255, 255, -0.5),
        rgba(41, 38, 38, 0.5)
      ), url('https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    min-height: 573px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    
}
.coffee-beans-logo{
    z-index: 10;
}
.myheader2 {
    background:#FFFFFF;
    min-height: 170px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.myheader-blured {
    min-height: 573px;
    width: 100vw;
    background-color: rgba(235, 235, 235, 40%);
    position: absolute;
    filter: blur(1px);
    z-index: 0;
}
.hero_header{
    align-items: center;
    justify-content: center;
    font-size: 50px;
    z-index: 1;
}
.card-level-header{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  padding-top: 10px;
}
.hero_sub-header{
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 1;
    left: 30px;
}
.card-level__space{
    display: flex;
    justify-content: space-between;
}
.card-level-left{
    display: flex;
    justify-content:left;
}
.card-level__center{
    display: flex;
    justify-content: center;
}
.card-button__unlock-wallet{
    width: 80%;
}
.separator{
    clear: both;
    border: 1px solid transparent;
    height: 0px;
}
.staking-card_span{
  font-weight: 600px !important;
  padding: 30px;
}
/* Farms */
.card-container {
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    z-index: 1;

}

.card-content {
    width: 300px;
    max-width: 340px;
    margin: 20px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    margin-bottom: 2rem;
    justify-content: space-around;
    padding: 24px;
    position: relative;
    text-align: center;
    color: #3c2107;
}
.card-level_center h2{
  font-size: 20px;
}


@keyframes Rainbow {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}

.card-background:first-child {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
      );
      background-size: 300% 300%;
      animation: Rainbow 2s linear infinite;
      border-radius: 16px;
      filter: blur(6px);
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      z-index: -1;
}

.card-level {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    margin: 5px;

}

.card-level h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: #3c2107;
}

.card-level p {
    margin: 0px;
    text-align: left;
}

.card-logo__1 {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: 1;
}

.card-logo__2 {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    left: 55px;
    top: 40px;
    z-index: 2;
}

.card-button__action {
    align-items: center;
    background-color: #00D86C;
    border: 0;
    border-radius: 16px;
    box-shadow: inset 0px -1px 0px rgb(14 14 44 / 40%);
    color: #FFFFFF;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    width: 60%;
    height: 48px;
    line-height: 1;
    justify-content: center;
}
/* Staking */
.staking-container{
    display: flex;
    width: 900px;
    justify-content: space-around;
}
.swapbox_select {
    width: 50%;
    float: left;
}
.swapbox{
    overflow: auto;
    margin: 20px 0;
    padding: 20px;
    background-color: #2f2f2f;
    border-radius: 20px;
    border: 1px solid #565656;
}
.token_select{
    padding:5px 0;
}
.token_select:hover{
    background-color: #464646;
    cursor: pointer;
    
}
.token_row{
    padding: 5px 10px;
}
.token_row:hover{
    background-color: #e4e4e4;
    cursor: pointer;
}
.gas_estimate_label{
    padding:5px;
}
.modal-body{
    height: 500px;
    overflow: scroll;   
}
.swap-container {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    z-index: 1;
flex-direction: column;
}
.swap-options{
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: rigth;
    justify-content: center;
    padding: 1rem;
    z-index: 5;
    background: #FFFFFF;
    padding: 0;
}
.swap-menu{
        width: 300px;
        display: inline-flex;
        justify-content: space-around;
        padding: 10px;
        border-radius: 16px;
        background-color: #e7e1da;
        color: #3c2107
}
.swap-menu a{
color: #3c2107 !important;
font-weight: 500;
}
/* SWAP */
.appNav {
    margin: 0 16px 0 0;
  }
  
  .rightNav {
    float: right;
  }
  
  .pageButtonBold {
    font-weight: 800;
  }
  
  .buttonContainer {
    background-color: #fff;
    border-radius: 16px;
    display: inline-block;
  }
  
  .buttonContainerTop {
    margin-left: 175px;
  }
  
  .connectButton {
    background-color: rgb(253, 234, 241) !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
    color: rgb(213, 0, 102) !important;
  }
  
  .connectButtonContainer {
    display: inline-block;
    margin-right: 10px;
  }
  
  .connectButton:hover {
    border-color: rgb(213, 0, 102) !important;
  }
  
  .hoverBold:hover {
    font-weight: 800;
  }
  
  /******************************************************************************/
  /* Swap Container */
  .appBody {
    height: 100%;
    margin-bottom: 500px;
  }
  
  .swapContainer {
    background-color: #ab967d;
    width: 440px;
    height: 450px;
    margin: 0 auto;
    top: 50%;
    border-radius: 16px;
    border: 1px solid #fff;
    padding: 6px;
  }
  
  .swapHeader {
    text-align: left;
    padding: 4px 20px 0px 20px;
  }
  
  .swapText {
    color: #000;
    font-size: 25px;
    font-weight: 600;
  }
  
  .gearContainer {
    float: right;
    font-size: 22px
  }
  .pool-remove-container{
    display: flex;
    justify-content: end;
  }
  .pool-remove{
    width: 40%;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px;
    background-color: #D00000;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
  }
  
  /******************************************************************************/
  /* Currency Input */
  .currencyInput {
    background-color: #e7e1da;
    margin: 10px !important;
    padding: 10px;
    border-radius: 16px;
    height: 138px;
  }
  .currencyInput:hover {
    border-color: #543316 !important;
    border: 1px solid;
  }
  ::placeholder {
    opacity: 0.25;
  }
  .numberContainer {
    justify-content: space-between;
    display: inline-flex;
  }
  .spinnerContainer {
    height: 55px;
    line-height: 55px;
  }
  .currencyInputField {
    font-size: 28px;
    display: inline-block;
    width: 50%;
    border: none;
    background-color: #e7e1da;
  }
  .tokenContainer {
    text-align: right;
  }
  .tokenName {
    font-size: 28px;
    display: block;
    color: #000;
  }
  .balanceContainer {
    display: block;
  }
  .balanceAmount {
    width: 100%;
    font-size: 16px;
    display: inline;
    color: #000;
    font-weight: 600;
  }
  
  /******************************************************************************/
  /* Ratio */
  .ratioContainer {
    text-align: left;
    margin-left: 10px;
    height: 28px;
  }
  
  
  /******************************************************************************/
  /* Swap Button */
  .swapButtonContainer {
    margin: 10px;
  }
  .swapButton {
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    color: #fff;
    border-radius: 20px;
    background-color: #3C2107;
    cursor: pointer;
    text-align: center;
  }
  
  /******************************************************************************/
  /* Config Modal */
  
  .modaly {
    position: fixed;
    left: 0;
    top: -510px;
    right: -110px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(86, 90, 105);
  
  }
  
  .modal-content {
    background-color: #fff;
    width: 300px !important;
    padding: 0px 15px;
    background-color: rgb(237, 238, 242) !important;
    border: 1px solid rgb(206, 208, 217) !important;
    border-radius: 12px !important;
  }
  
  .modalTitle {
    margin: auto;
  }
  
  .titleHeader {
    margin-left: -12px;
  }
  .labelField {
    padding-left: 0px !important;
  }
  .fieldContainer {
    padding-left: 0px !important;
  }
  .inputField {
    padding-left: 10px;
    border-radius: 36px;
    border: 1px solid #65cdee;
    height: 2rem;
    margin: 10px 0;
    width: 100%;
  }
  .inputFieldUnitsContainer {
    padding-left: 0px !important;
    padding-top: 14px;
  }