.border-gray{
    border: 0.5px solid !important;
    border-color:#5e5e5e !important
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-black-text :hover{
    color: #000000 !important;
  }
  .bg-rojo1{
    background-color: #B61E17 !important;
  }